<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">
    <script src="https://cdn.plot.ly/plotly-3.3.1.min.js"></script>
    <title>Ammo Tracker</title>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">Ammo Tracker</a>
            <div class="navbar-nav">
                <a class="nav-link" href="/firearms">Firearms</a>
                <a class="nav-link" href="/bullets">Bullets</a>
                <a class="nav-link" href="/cartridges">Cartridges</a>
                <a class="nav-link" href="/powders">Powders</a>
                <a class="nav-link" href="/loads">Loads/Recipes</a>
                <a class="nav-link" href="/sessions">Testing Sessions</a>
            </div>
        </div>
    </nav>
    <div class="container bg-white p-4 shadow-sm">
        {% block content %}{% endblock %}
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" ></script>
<script>
    const myDefaultAllowList = bootstrap.Tooltip.Default.allowList
    myDefaultAllowList.table = []
    myDefaultAllowList.tr = []
    myDefaultAllowList.td = []
    myDefaultAllowList.th = []
    myDefaultAllowList.tbody = []
    myDefaultAllowList.thead = []

    document.addEventListener('DOMContentLoaded', function () {
        // Initialize all popovers on the page
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    });
</script>
</body>
</html>